<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- bootstrap css cdn --}}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {{!-- bootstrap icon cdn --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Client Management System</title>
</head>

<body>
    <!-- =============sliding navigation menu Start ============ -->
    <div id="toggle"></div>
    <div id="sidebar">
        <ul>
            <li> <a class="sidebar-link" href="/">ABOUT ME</a> </li>
            <li> <a class="sidebar-link" href="gallery">GALLERY</a> </li>
            <li> <a class="sidebar-link" href="projects">PROJECTS</a> </li>
            <li> <a class="sidebar-link" href="contact">CONTACT</a> </li>
        </ul>
        <div class="contact-info-sidebar">
            <p class="contact-info-style"><i class="bi bi-linkedin"></i> <a class="achor-style"
                    href="https://www.linkedin.com/in/chris-tran-1921a9163/">LinkedIn</a></p>
            <p class="contact-info-style"><i class="bi bi-envelope"></i> <a class="achor-style"
                    href="mailto:chris.tr88@gmail.com">CHRIS.TR88@GMAIL.COM</a></p>
            <p class="contact-info-style"><i class="bi bi-telephone"></i> 303-999-1596</p>
            <p class="contact-info-style"><i class="bi bi-map"></i> DENVER COLORADO, USA</p>
        </div>
    </div>
    </div>
    <!-- =============sliding navigation menu End ============ -->


    <div class="container pt-5 pb-5">
        {{{body}}}
    </div>

    {{!-- bootstrap javascript cdn --}}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="/scripts.js"></script>
</body>

</html>