{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    User has been removed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="testing-msg">
    <p>
        Like what you see? I'd love to hear from you!
    </p>
    <p>
        You can leave me your first name, last name, email by using +Add Information.
        <br> <strong> All Information
            will be viewable by other people</strong>.
        <br>
        Or fill out the form below and I will get a direct email.
    </p>
</div>

<div class="row">
    <div class="col-6">
        <h1>Contact Information</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/add-info" type="button" class="btn btn-primary align-self-center ">+ Add Information</a>
    </div>
</div>

<table class="table">
    <thead>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Marks%</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr>
            <td data-label="S.No">1</td>
            <td data-label="Name">Dinesh</td>
            <td data-label="Age">34</td>
            <td data-label="Marks%">50%</td>
            <td data-label="Status">Passed</td>
        </tr>
        <tr>
            <td data-label="S.No">2</td>
            <td data-label="Name">John</td>
            <td data-label="Age">28</td>
            <td data-label="Marks%">70%</td>
            <td data-label="Status">Passed</td>
        </tr>
        <tr>
            <td data-label="S.No">3</td>
            <td data-label="Name">Chris</td>
            <td data-label="Age">20</td>
            <td data-label="Marks%">90%</td>
            <td data-label="Status">Passed</td>
        </tr>
        <tr>
            <td data-label="S.No">4</td>
            <td data-label="Name">Jim</td>
            <td data-label="Age">30</td>
            <td data-label="Marks%">30%</td>
            <td data-label="Status">Failed</td>
        </tr>
    </tbody>
</table>

<hr>

<div class="container">
    <h1 class="brand"><span>Acme</span>Contact Form</h1>
    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3>Acme Web Design</h3>
            <ul>
                <li><i class="fa fa-road"></i> 44 Something st</li>
                <li><i class="fa fa-phone"></i> (555) 555-5555</li>
                <li><i class="fa fa-envelope"></i> test@acme.test</li>
            </ul>
        </div>
        <div class="contact">
            <h3>Email Us</h3>
            {{msg}}
            <form method="POST" action="send">
                <p>
                    <label>Name</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label>Company</label>
                    <input type="text" name="company">
                </p>
                <p>
                    <label>Email Address</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Phone Number</label>
                    <input type="text" name="phone">
                </p>
                <p class="full">
                    <label>Message</label>
                    <textarea name="message" rows="5"></textarea>
                </p>
                <p class="full">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>