<div class="container">
    <!-- =================Gallery section Start================== -->
    <section id="target_gallery" class="gallery">
        <div class="container gallery_container">
            <div class="row">
                <div class="gallery_h1_wrapper">
                    <h1 class="gallery_h1">GALLERY</h1>
                </div>
                <div class="col">
                    <div class="full-img" id="fullImgBox">
                        <img src="images/placement.jpg" id="fullImg">
                        <span onclick="closeFullImg()">X</span>
                    </div>
                    <div class="img-gallery">
                        <img class="gallery_img" src="images/first-mech.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/funny-profile.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/mtn-biking.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/my-pc.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/nim-pack.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/super-t.jpg" onclick="openFullImg(this.src)" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =================Gallery section End================== -->
</div>

<script src="/scripts.js"></script>