<div class="container">
    <!-- =================Gallery section Start================== -->
    <section id="target_gallery" class="gallery">
        <div class="container gallery_container">
            <div class="row">
                <div class="gallery_h1_wrapper">
                    <h1 class="gallery_h1">GALLERY</h1>
                </div>
                <div class="col">
                    <div class="full-img" id="fullImgBox">
                        <img src="images/placement.jpg" id="fullImg">
                        <span onclick="closeFullImg()">X</span>
                    </div>
                    <div class="img-gallery">
                        <img class="gallery_img" src="images/first-mech.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/funny-profile.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/mtn-biking.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/my-pc.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/nim-pack.jpg" onclick="openFullImg(this.src)" alt="">
                        <img class="gallery_img" src="images/super-t.jpg" onclick="openFullImg(this.src)" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =================Gallery section End================== -->
</div>

<!-- copyright/footer section start -->
<div class="copyrightSection">
    <div class="col-md-12 text-center">
        <h3>
            <a class="navbar-brand" href="/">Chris Tran Portfolio</a>
        </h3>

        <div class="footer-nav">
            <p class="contact-info-style"><i class="bi bi-linkedin"></i> <a class="achor-style"
                    href="https://www.linkedin.com/in/chris-tran-1921a9163/">LinkedIn</a></p>
            <p class="contact-info-style"><i class="bi bi-envelope"></i> <a class="achor-style"
                    href="mailto:chris.tr88@gmail.com">CHRIS.TR88@GMAIL.COM</a></p>
            <p class="contact-info-style"><i class="bi bi-telephone"></i> 303-999-1596</p>
            <p class="contact-info-style"><i class="bi bi-map"></i> DENVER COLORADO, USA</p>
        </div>
    </div>
    <div class="footer-copyright">
        <p>&copy; Copyright Chris Tran 2022</p>
    </div>
</div>
<!-- copyright/footer section end -->

<script src="/scripts.js"></script>