<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- css sheet -->
    <link rel="stylesheet" href="./home.css">
    <title>Home || Portfolio</title>
</head>

<body>

    <section class="about-me">
        <div class="container">
            <!-- sliding navigation menu Start -->
            <div id="toggle"></div>
            <div id="sidebar">
                <ul>
                    <li> <a class="sidebar-link" href="#about-me">ABOUT ME</a> </li>
                    <li> <a class="sidebar-link" href="#gallery">GALLERY</a> </li>
                    <li> <a class="sidebar-link" href="#projects">PROJECTS</a> </li>
                    <li> <a class="sidebar-link" href="#contact">CONTACT</a> </li>
                </ul>
                <div class="contact-info-sidebar">
                    <p class="contact-info-style"><i class="bi bi-linkedin"></i> <a class="achor-style"
                            href="https://www.linkedin.com/in/chris-tran-1921a9163/">LinkedIn</a></p>
                    <p class="contact-info-style"><i class="bi bi-envelope"></i> <a class="achor-style"
                            href="mailto:chris.tr88@gmail.com">CHRIS.TR88@GMAIL.COM</a></p>
                    <p class="contact-info-style"><i class="bi bi-telephone"></i> 303-999-1596</p>
                    <p class="contact-info-style"><i class="bi bi-map"></i> DENVER COLORADO, USA</p>
                </div>
            </div>
            <!-- sliding navigation menu END-->

            <div class="row">
                <div class="col col-left">
                    <div class="profile-img-style">
                        <img class="profile-img" src="https://source.unsplash.com/400x400?mountain">
                    </div>

                    <hr>
                    <div class="h1-style">
                        <h1 id="text" class="h1">CHRIS TRAN</h1>
                    </div>

                    <div class="center-line">
                        <hr class="custom-line">
                    </div>

                    <div class="h2-style">
                        <h2 class="h2">WEB DEVELOPER</h2>
                    </div>

                    <div class="center-line">
                        <hr class="custom-line">
                    </div>

                    <div class="contact-info">
                        <h3 class="h3">CONTACT INFO</h3>
                        <p class="contact-info-style"><i class="bi bi-linkedin"></i> <a class="achor-style"
                                href="https://www.linkedin.com/in/chris-tran-1921a9163/">LinkedIn</a></p>
                        <p class="contact-info-style"><i class="bi bi-envelope"></i> <a class="achor-style"
                                href="mailto:chris.tr88@gmail.com">CHRIS.TR88@GMAIL.COM</a></p>
                        <p class="contact-info-style"><i class="bi bi-telephone"></i> 303-999-1596</p>
                        <p class="contact-info-style"><i class="bi bi-map"></i> DENVER COLORADO, USA</p>
                    </div>

                    <div class="center-line">
                        <hr class="custom-line">
                    </div>

                    <div class="education">
                        <h3 class="h3">EDUCATION</h3>
                        <h4 class="h4">Emily Griffith Technical College </h4>
                        <p class="education-p"> 2021 || Full Stack Web Development</p>
                        <h4 class="h4">University of Colorado Denver </h4>
                        <p class="education-p"> 2018 || Bachelor of Arts in Geography/GIS</p>
                        <h4 class="h4">Emily Griffith Technical College </h4>
                        <p class="education-p"> 2009 || Automotive Technology/Mechanic</p>
                    </div>

                    <div class="center-line">
                        <hr class="custom-line">
                    </div>

                    <div class="skills">
                        <h3 class="h3">SKILLS</h3>
                        <ul>
                            <li class="skills-li"> <i class="bi bi-filetype-html"></i> HTML</li>
                            <li class="skills-li"> <i class="bi bi-filetype-css"></i> CSS</li>
                            <li class="skills-li"> <i class="bi bi-filetype-js"></i> JavaScript</li>
                            <li class="skills-li"> <i class="bi bi-filetype-jsx"></i> React</li>
                            <li class="skills-li"> <i class="bi bi-diagram-3"></i> Node / ExpressJS</li>
                            <li class="skills-li"> <i class="bi bi-filetype-py"></i> Python / Java</li>
                            <li class="skills-li"> <i class="bi bi-git"></i> Git</li>
                            <li class="skills-li"> <i class="bi bi-github"></i> Github</li>
                        </ul>
                    </div>

                </div>

                <!-- Right section About Me Start -->

                <div class="col col-right">
                    <div class="div-h3">
                        <h3 id="about-me" class="col-right-h3">ABOUT ME</h3>
                    </div>
                    <hr class="custom-line">
                    <p class="col-right-p">
                        I graduated from Colorado University at Denver in 2018 with a geography/GIS degree.
                        During the time I was a mechanical technician for Tomra Sorting USA. I was building
                        industrial optical sorting equipment for companies like Blue Diamond Almond, Starburst,
                        and Nestle. In the spring of 2020, during the pandemic is when I got laid off. During
                        this time, I decided to change my career path into computer programming. I attended
                        Emily Griffith Technical College full stack web development program and I really enjoyed
                        it. I really like to working with Express and backend programming. I also have experience
                        with frontend technology, such as, React and vanilla web pack programming langauges. I
                        would like to become a professional server side developer in the future.
                    </p>

                    <div class="div-h3">
                        <h3 class="col-right-h3">JOB EXPERIENCE</h3>
                    </div>
                    <hr class="custom-line">
                    <h5 class="col-right-h5">Mechancial Technician</h5>
                    <h6 class="col-right-h6">Tomra Sorting USA || 2018</h6>
                    <p class="col-right-p">
                        Built and repair Tomra feeding machines in house utilizing 3D model software and
                        engineering as-built drawings. Fabricated components in house as needed utilizing basic
                        tools and machine such as table saw, angle grinder, jig-saw, and sander. Working in a
                        team based
                        environment. Built and repair sub-assemblies as required.
                    </p>
                    <div class="summary-points">
                        <h7 class="h7">SUMMARY</h7>
                        <ul class="about_ul">
                            <li>Build sub assembly as required. </li>
                            <li>Reading mechanical drawing and utilizing 3d sofware.</li>
                            <li>Build machines from start to finish.</li>
                        </ul>
                    </div>

                    <h5 class="col-right-h5">Electrical Assembler</h5>
                    <h6 class="col-right-h6">Tomra Sorting USA || 2019</h6>
                    <p class="col-right-p">
                        Wired the entire machine utilizing electrical schematics. Built main
                        electrical panel for the Tomra Nimbus and other electrical componenets as need. Convert
                        and configurate existing electrical equipment to meet UL standard. Check PLC I/O for set
                        up and report bugs.
                    </p>
                    <div class="summary-points">
                        <h7 class="h7">SUMMARY</h7>
                        <ul class="about_ul">
                            <li>Wiring of machine from start to finish.</li>
                            <li>Report bugs to setup team.</li>
                            <li>Test electrical componenets before passing machine to another team.</li>
                        </ul>
                    </div>

                    <h5 class="col-right-h5">Field Service Technician</h5>
                    <h6 class="col-right-h6">Tomra Sorting USA || 2020</h6>
                    <p class="col-right-p">
                        Traveled to customers’ site to conduct installation and testing inside cleanrooms.
                        Troubleshoot issues related to conveyor alignments and testing to achieve contracted
                        efficiency rate. Supported internal teams including field service engineers and
                        assemblers as required. Trained customers to familiarize with Tomra machines for
                        production purposes. Managed mechanical changes from project manager as
                        required.
                    </p>
                    <div class="summary-points">
                        <h7 class="h7">SUMMARY</h7>
                        <ul class="about_ul">
                            <li>Train client on Tomra machines.</li>
                            <li>Install and set up machines for clients around the United States.</li>
                            <li>Report changes/concern back to project manager.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script src="/app.js"></script>
</body>

</html>