<section id="projects" class="projects">
    <div class="container projects-container">
        <div class="row project_row">
            <div class="project-title">
                <h1 class="project-head">PROJECTS</h1>
            </div>
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/hawaii_img.PNG">
                                <h2>Hawaii Project</h2>
                            </div>
                            <div class="card__body">
                                <h3>First Website</h3>
                                <p> Welcome to my first website! This was created with HTML, CSS, and
                                    Bootstrap.
                                    This was a small project showing the little things in Hawaii for
                                    visiters.</p>

                                <a href="https://koldfeet.github.io/project-two-hawaii/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/project-two-hawaii" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/kanine_img.PNG">
                                <h2>Kanine-Kandies</h2>
                            </div>
                            <div class="card__body">
                                <h3>Second Project</h3>
                                <p> This was my second website create for a school client. This project was
                                    created
                                    with HTML, CSS, JavaScript, and Bootstrap. This project is about a local
                                    pet CBD
                                    store with a shopping cart created with JavaScript.</p>
                                <a href="https://koldfeet.github.io/CBD_petStore/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/CBD_petStore" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/blog_img.png">
                                <h2>CIS Blog</h2>
                            </div>
                            <div class="card__body">
                                <h3>Computer Information</h3>
                                <p>This was a school project that was intended to learn a brief history on
                                    how
                                    computer and networking works. This was created with HTML, CSS, and
                                    Bootstrap.</p>
                                <a href="https://koldfeet.github.io/Computer-Info-System-Blog/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/Computer-Info-System-Blog" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/react_img.PNG">
                                <h2>React Project</h2>
                            </div>
                            <div class="card__body">
                                <h3>First React Project</h3>
                                <p> This was my first React project. In this project I had to design and use
                                    React
                                    to create a website for a potential client who own a hairdresser salon.
                                    <br>
                                    The live link for this goes to Heroku. This takes a little bit of
                                    loading time.
                                </p>
                                <a href="https://thawing-escarpment-39208.herokuapp.com/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/slim-styles-repo" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/quiz_img.PNG">
                                <h2>JS Quiz</h2>
                            </div>
                            <div class="card__body">
                                <h3>JavaScript Knowledge</h3>
                                <p> In this project I had to use JavaScript to create some kind of quiz or
                                    test
                                    where users can test themselve. This quiz will record the correct number
                                    of
                                    answers, and also display green for the correct answers, and red for the
                                    incorrect answers.</p>
                                <a href="https://koldfeet.github.io/JavaScript_quiz/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/JavaScript_quiz" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--font">
                        <h2>My Project</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <img class="pp" src="images/port_img.PNG">
                                <h2>My Porfolio</h2>
                            </div>
                            <div class="card__body">
                                <h3> My Recent Project</h3>
                                <p>That's right! You are looking at it. This was
                                    created with HTML, CSS, JavaScript, Bootstrap, NodeJs, ExpressJs,
                                    and database with mySql WorkBench.</p>
                                <a href="https://node-js-ct-portfolio.herokuapp.com/" target="_blank"
                                    class="btn btn-primary btn-live">LIVE</a>
                                <a href="https://github.com/koldfeet/node_portfolio" target="_blank"
                                    class="btn btn-primary btn-git">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>