<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- css sheet -->
    <link rel="stylesheet" href="./styles.css">
    <title>Projects || Portfolio</title>
</head>

<body>

    <div class="container">
        <!-- =============sliding navigation menu Start ============ -->
        <div id="toggle"></div>
        <div id="sidebar">
            <ul>
                <li> <a class="sidebar-link" href="/">ABOUT ME</a> </li>
                <li> <a class="sidebar-link" href="gallery">GALLERY</a> </li>
                <li> <a class="sidebar-link" href="projects">PROJECTS</a> </li>
                <li> <a class="sidebar-link" href="contacts">CONTACT</a> </li>
            </ul>
            <div class="contact-info-sidebar">
                <p class="contact-info-style"><i class="bi bi-linkedin"></i> <a class="achor-style"
                        href="https://www.linkedin.com/in/chris-tran-1921a9163/">LinkedIn</a></p>
                <p class="contact-info-style"><i class="bi bi-envelope"></i> <a class="achor-style"
                        href="mailto:chris.tr88@gmail.com">CHRIS.TR88@GMAIL.COM</a></p>
                <p class="contact-info-style"><i class="bi bi-telephone"></i> 303-999-1596</p>
                <p class="contact-info-style"><i class="bi bi-map"></i> DENVER COLORADO, USA</p>
            </div>
        </div>
    </div>
    <!-- =============sliding navigation menu End ============ -->

    <section id="projects" class="projects">
        <div class="container projects-container">
            <div class="row">
                <div class="project-title">
                    <h1 class="project-head">PROJECTS</h1>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/hawaii_img.PNG">
                                        <h2>Hawaii Project</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3>First Website</h3>
                                        <p> Welcome to my first website! This was created with HTML, CSS, and
                                            Bootstrap.
                                            This was a small project showing the little things in Hawaii for
                                            visiters.</p>

                                        <a href="https://koldfeet.github.io/project-two-hawaii/"
                                            class="btn btn-primary btn-live">LIVE</a>
                                        <a href="https://github.com/koldfeet/project-two-hawaii"
                                            class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/kanine_img.PNG">
                                        <h2>Kanine-Kandies</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3>Second Project</h3>
                                        <p> This was my second website create for a school client. This project was
                                            created
                                            with HTML, CSS, JavaScript, and Bootstrap. This project is about a local
                                            pet CBD
                                            store with a shopping cart created with JavaScript.</p>
                                        <a href="https://koldfeet.github.io/CBD_petStore/"
                                            class="btn btn-primary btn-live">LIVE</a>
                                        <a href="https://github.com/koldfeet/CBD_petStore"
                                            class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/blog_img.PNG">
                                        <h2>CIS Blog</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3>Computer Information</h3>
                                        <p>This was a school project that was intended to learn a brief history on
                                            how
                                            computer and networking works. This was created with HTML, CSS, and
                                            Bootstrap.</p>
                                        <a href="https://koldfeet.github.io/Computer-Info-System-Blog/"
                                            class="btn btn-primary btn-live">LIVE</a>
                                        <a href="https://github.com/koldfeet/Computer-Info-System-Blog"
                                            class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/react_img.PNG">
                                        <h2>React Project</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3>First React Project</h3>
                                        <p> This was my first React project. In this project I had to design and use
                                            React
                                            to create a website for a potential client who own a hairdresser salon.
                                            <br>
                                            The live link for this goes to Heroku. This takes a little bit of
                                            loading time.
                                        </p>
                                        <a href="https://thawing-escarpment-39208.herokuapp.com/"
                                            class="btn btn-primary btn-live">LIVE</a>
                                        <a href="https://github.com/koldfeet/slim-styles-repo"
                                            class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/quiz_img.PNG">
                                        <h2>JavaScript Quiz</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3>JavaScript Knowledge</h3>
                                        <p> In this project I had to use JavaScript to create some kind of quiz or
                                            test
                                            where users can test themselve. This quiz will record the correct number
                                            of
                                            answers, and also display green for the correct answers, and red for the
                                            incorrect answers.</p>
                                        <a href="https://koldfeet.github.io/JavaScript_quiz/"
                                            class="btn btn-primary btn-live">LIVE</a>
                                        <a href="https://github.com/koldfeet/JavaScript_quiz"
                                            class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col project-col">
                    <div class="card">
                        <div class="card__inner">
                            <div class="card__face card__face--font">
                                <h2>Developer Card</h2>
                            </div>
                            <div class="card__face card__face--back">
                                <div class="card__content">
                                    <div class="card__header">
                                        <img class="pp" src="images/project/port_img.PNG">
                                        <h2>My Porfolio</h2>
                                    </div>
                                    <div class="card__body">
                                        <h3> My Recent Project</h3>
                                        <p>That's right! You are looking at it. The purpose for this project is to
                                            show my
                                            pass history and how far i've came along on this new journey. This was
                                            created
                                            with HTML, CSS, JavaScript, and Bootstrap.</p>
                                        <a href="#" class="btn btn-primary btn-live">LIVE</a>
                                        <a href="#" class="btn btn-primary btn-git">Git</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/app.js"></script>
</body>

</html>