/* Project section Start */
#project-cards {
    min-width: 200px;
}

.project-title {
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-para {
    margin: 5px;
    text-align: left;
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 1px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
    height: 500px;

}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;

}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}

.squareContent h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #9137db;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    counter-reset: #444;
}

/* Project section END */