* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ffce00;
    --secondary: #fe4880;
    --dark: #212121;
    --light: #f3f3f3;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.about-me {
    margin-top: 10px;
}

.center-line {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========Left Colums Start */
.col-left {
    background-color: rgb(66, 66, 66);
    min-width: 300px;
    padding: 20px;
}

.col-right {
    background-color: rgb(255, 255, 255);
    flex-basis: 30%;
    border-top: 15px solid rgb(255, 118, 38);
    min-width: 300px;
    padding: 20px;
}

.profile-img-style {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.h1-style {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.h1 {
    color: #fff;
    font-size: 30px;
}

.custom-line {
    width: 50%;
}

.h2-style {
    text-align: center;
    color: #fff;
}

.h2 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.h3 {
    color: #fff;
    padding-bottom: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
}

.bi {
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.contact-info-style {
    font-weight: bold;
    color: #fff;
}

.achor-style {
    color: #fff;
    text-decoration: none;
}

.achor-style:hover {
    text-decoration: none;
}

.h4 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.education-p {
    font-size: 13px;
    color: #fff;
    text-indent: 15px;
}

.skills-li {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    margin: 20px;
}

.ref-job-title {
    color: #fff;
    font-size: 12px;
}

.ref-phone {
    color: #fff;
    font-size: 12px;
}

/* ========Left Colums END */

/* ========= RIght Colume START========= */
.div-h3 {
    text-align: center;
    margin-top: 25px;
}

.col-right-h5 {
    font-weight: bold;
    letter-spacing: 2px;
}

.col-right-h6 {
    font-weight: bold;
    color: gray;
}

.col-right-p {
    text-indent: 40px;
    font-size: 15px;
    margin: 20px;
}

.summary-points {
    color: gray;
    margin: 20px;
}

.h7 {
    font-weight: bold;
}

/* ========= RIght Colume END========= */

/* =======project section start ============== */
.testing {
    margin: 15px;
}

.project_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-col {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 25px; */
}

.project-title {
    text-align: center;
    margin: 20px;
}

.project-title h1 {
    color: rgb(255, 118, 38);
}

.card {
    height: 550px;
    border: none;
}

.card-body {
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
}

.card-text {
    text-align: left;
}

.btn {
    background-color: rgb(255, 118, 38);
    border: none;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    background-color: rgb(66, 66, 66);
}

.btn-live {
    position: absolute;
    top: 470px;
    left: 30px;
}

.btn-git {
    position: absolute;
    top: 470px;
    right: 30px;
}

/* =======project section end ============= */

/* ============ images gallery Start =========== */
.gallery_h1_wrapper {
    text-align: center;
}

.gallery_h1 {
    color: rgb(255, 118, 38);
}

.gallery_img {
    width: 200px;
    height: 250px;
    box-shadow: 5px 5px 15px rgb(58, 58, 58);
}

.gallery {
    margin-top: 45px;
}

.img-gallery {
    width: 85%;
    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
}

.img-gallery img:hover {
    transform: scale(1.050);
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* ============ images gallery End =========== */

/* ============ project cards start =========== */

.card {
    margin: 10px;
    width: 300px;
    height: 530px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 15px rgb(58, 58, 58);
    border-radius: 15px;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--font {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__face--font h2 {
    color: #fff;
    font-size: 32px;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 10px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid rgb(255, 118, 38);
    object-fit: cover;
}

/* background: rgb(255, 118, 38); */
.card__header h2 {
    color: rgb(255, 118, 38);
    font: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 5px;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 15px; */
}

.card_body p {
    color: var(--dark);
    line-height: 1.5px;
}

/* ============ project cards end =========== */

/* ============== CONTACT SECTION START =========== */
.alert-style {
    margin-top: 35px;
}

main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

table {
    margin: 50px auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th,
td {
    padding: 5px;
}

.contact-nav {
    display: flex;
}

.contact-nav-a {
    margin-right: 20px;
}

.contact-intro {
    margin-top: 35px;
}

/* ====== contact page contact form nodemailer START ======= */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.form-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    margin-bottom: 60px;
}

.sent-msg {
    color: blue;
}

/* .brand span {
    color: #fff;
} */

.wrapper {
    box-shadow: 5px 5px 15px rgb(58, 58, 58);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: rgb(255, 118, 38);
    color: #ffffff;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #f9feff;
}

/* FORM STYLES */
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}

.contact form button {
    background: rgb(255, 118, 38);
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border-radius: 5px;
}

.contact form button:hover,
.contact form button:focus {
    background: gray;
    color: rgb(255, 118, 38);
    outline: 0;
    /* transition: background-color 2s ease-out; */
}

/* LARGE SCREENS */
@media(min-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}

/* ====== contact page contact form nodemailer END ======= */

/* ====== contact page data table START =========== */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

/* .table th {
    background-color: darkblue;
    color: #ffffff;
} */

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* responsive media query table Start */
@media(max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: center;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* responsive media query table END */
/* ====== contact page data table END =========== */

/* ============== CONTACT SECTION END =========== */

/* ============== Footer Start ================= */

/* footer/copyright section StART */
.copyrightSection {
    background-color: rgb(255, 118, 38);
    color: #fff;
    padding: 30px 5px;
    margin-top: 15px;
}

.copyrightSection p {
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav>p {
    margin: 5px;
}

.footer-copyright {
    text-align: center;
    margin-top: 15px;
}

/* footer/copyright section end */
/* ============== Footer End ================= */